:root {
  --dark-color-background: #222;
  --light-color-background: #e8e8e8;
  --current-background: var(--dark-color-background);
}

a {
  outline: 0;
}

.App {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.App-header {
  background-color: var(--current-background);
  padding: 2vh 1vw 1vh 1vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.App-header * {
  display: inline;
}

.App-link {
  color: #61dafb;
}

/* Top Navigation Bar */
.header-nav-bar {
  background-color: var(--current-background);
  overflow: hidden;
  text-align: center;
}

.header-nav-bar li {
  display: inline;
  text-align: center;
  font-size: 3vh;
}

.header-nav-bar a {
  text-decoration: none;
  padding-left: 1.5vw;
}

.header-nav-bar li:hover,
.header-nav-bar a.selected{
  text-decoration: underline;
}